<div>
  <h2>Viewer Application in Angular 7</h2>
  <ul>
    <li>
      Fetch query params
    </li>
    <li>
      Authenticate User and if authenticated, get image information if belongs to that
    </li>
    <li>
      Send schema request for the image
    </li>
    <li>
      Open OpenSeadragon Viewer with image and tools
    </li>
    <li>
      Pathpresenter Theme
    </li>
  </ul>
  <div>
    <h2>
      Components Needed for this application
    </h2>
    <ul>
      <li>
        User Authentication Service
      </li>
      <li>
        Image related Authorization and tile, schema requests Service
      </li>
      <li>
        OpenSeadragon Viewer Component with zoom, full screen, roi change options
      </li>
      <li>
        OSD share service
      </li>
      <li>
        Annotation Component
      </li>
      <li>
        Marking Tool Component
      </li>
      <li><a routerLink="viewer">Viewer</a></li>
    </ul>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
